html{
    height: 100%;
}

body{
    background-color: #ffffffe5;
    margin: 0;
}

#header{
    height: 100px;
    width: 100%;
    background-color: #6d0d0d;
    box-shadow: 0 10px 70px rgba(43, 43, 43, 0.1);
}

#menu_bars{
    height: 30px;
    width: 40px;
    padding-top: 35px;
    padding-left: 35px;
}

#header_logo{
    position: absolute;
    padding-top: 6px;
    left: 85%;
    height: 90px;
    width: 220px;
}
#Gabarit{
  padding-top: 6px;
  height: 150px;
  width: 220px;
}
#coca{
  padding-top: 6px;
  height: 220px;
  width: 220px;
}

table,td{
    border: 1px solid rgb(0, 0, 0);
}

table{ 
    color: rgb(0, 0, 0);
    margin-top: 90px;
    margin-left: 10%;
    width: 80%;
}

td{
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d79a10;
}

thead,tfoot{
    color: #000000 ;
    color: #000000;
}

#Thome td{
  padding:10%;
}

#Thome1{
  margin-top: 0px;
  width: 40%;
  margin-left: 30%;
}

#Thome1 td{
  padding:20%;
  border-top-width: 0px;
}